:root {
    --bg-clr: #edf2f8;
    --txt-clr-black: #000000;
    --txt-clr-grey: #000000a6;
    --title-clr: #212529;
    --title-font-audiowide: "Audiowide", cursive;
    --txt-font-electrolize: 'Electrolize', sans-serif;
}
.events {
    width: fit-content;
}
.events__list {
    grid-template-columns: repeat(2, auto);
    width: 50rem;
}
.card {
    width: 20rem;
}


/* detail page*/
.container {
    width: 100%;
    margin-top: 5rem;
}
.detail {
    width: 40vw;
    height: 60vh;
    margin: auto;

    box-shadow: 0 0 .5rem 0 #000;
    padding: 2rem;

    border-radius: 10px;

    --mb-val: 2rem;
}
.detail h2 {
    text-align: center;
    margin-bottom: var(--mb-val);
}
.time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
    margin-bottom: var(--mb-val);
}
span i {
    padding-right: .5rem;
}

.para {
    margin-bottom: var(--mb-val);
}
.keywords {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem 0;
    text-align: center;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 7rem;
    margin-top: 4rem;
}


/* create page */
.create {
    margin: 3rem auto;
    width: fit-content;
}
.create h1 {
    margin-bottom: 2rem;
    text-align: center;
}
.form {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem 0;
    flex-direction: column;
}
.form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
    width: 20rem;
}
.form >div label {
    font-family: var(--txt-font-electrolize);
    font-weight: 600;
}
.form > div input, 
.form > div textarea {
    width: 10rem;

    border-radius: 4px;
    padding: .5rem 3rem .5rem 1rem;

    outline: none;
    border: none;
    border: 1px solid;
}
