.profile_icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  position: relative;

  border: 1px solid #ff426b;
  border-radius: 5px;
}
.profile_icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-usernameInit);
  color: #f8f9fa;
}
.profile_icon_cont:hover > .row > .profile_icon {
  transition: all 0.3s ease;
  background-color: #ff426b;
  color: #343a40;
}
.navbar-brand {
  margin-right: 10rem !important;
}
.navbar-nav {
  justify-content: space-between;
}
.flex .navbar-brand {
  margin-right: 2rem !important;
}
.flex {
  display: flex;
  align-items: center;
}
.logo_txt {
  color: #f8f9fa;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 100vh !important;
}

.btn {
  cursor: pointer;
}

.data-cards .card {
  transition: all ease 0.3s;
}
.data-cards .card:hover {
  box-shadow: 0 0 2rem 0rem #343a4071;
  transition: all ease 0.3s;
}
.grid-center {
  display: grid;
  place-items: center;
}
.d-flex {
  gap: 3rem 1rem;
}
.text-muted {
  text-transform: capitalize;
}
.card-cont {
  position: relative;
  z-index: 1;
}
.fav {
  z-index: 9999 !important;
  cursor: pointer;

  position: absolute;
  right: -1rem;
  top: -2rem;
  font-size: 1.5rem;

  width: 3rem;
  height: 3rem;

  background: #343a40;
  border-radius: 100%;
}

.fav i {
  position: absolute;
  color: #f8f9fa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.fav:hover {
  transform: scale(1.2);
  transition: all 0.1s linear;
}
.text-dark:hover {
  text-decoration: none !important;
}
.icon_E i {
  background-color: #ff426ba8;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.cont {
  padding: 5% 0 5% 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

figure {
  width: fit-content;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 1;
}

#profilepic {
  max-width: 25%;
  height: auto;
  justify-content: center;
  border-radius: 100%;
  border: 10px solid #555;
}

.test {
  text-align: center;
  margin: 0%, 10%, 0%, 0%;
}

#about {
  text-align: center;
  margin: 3% 10% 4% 10%;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
}

.section {
  width: 30%;
  padding: 1rem;
  background-color: #f2f2f2;
  text-align: center;
}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #555;
}

#fit {
  overflow-x: hidden; /* remove horizontal scroll bar */
  margin: 0 20px;
}
