<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventHQ | admin | users</title>
    <link
      rel="shortcut icon"
      href="/private/assets/favicon.svg"
      type="image/x-icon"
    />

    <!-- Toastify -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/b6798fcdf3.js"
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .custom_gradient a {
        color: #212529;
        text-decoration: none !important;
      }
      .btn_custom.fixed {
        position: fixed;
        top: 4rem;
        left: 5rem;
      }
      .btn_custom {
        font-size: 1.2rem;
        border: 1px solid #212529 !important;
        box-shadow: 0 0 0.7rem 0 #21252958;
        border-radius: 100% !important;

        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;

        text-align: center;

        cursor: pointer;
        position: relative;
      }
      .btn_custom::after {
        content: attr(data-description);
        position: absolute;
        top: -2.5rem;
        right: -5rem;

        font-family: var(--txt-font-electrolize);
        font-size: 1rem;

        background-color: var(--txt-clr-grey);
        color: #edf2f8;
        border-radius: 5px;

        width: 5rem;

        opacity: 0;
        pointer-events: none;
      }
      .btn_custom:hover::after {
        opacity: 1;
        transition: all 0.2s linear 0.7s;
      }
      .btn_custom:hover {
        background-color: #ffffffbc;
        box-shadow: 0 0 1.5rem 0 var(--txt-clr-black);
        transition: all ease 0.3s;
      }
    </style>
  </head>
  <body>
    <section class="gradient-custom custom_gradient">
      <a class="btn_custom fixed" href="/admin/users" data-description="Back"
        ><i class="fa-solid fa-caret-left"></i
      ></a>
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create a user</h3>
                <form>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="firstName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="firstName"
                          >First Name</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="lastName"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="lastName"
                          >Last Name</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          id="username"
                          required
                        />
                        <label for="username" class="form-label"
                          >Username</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="password"
                          class="form-control form-control-lg"
                          id="password"
                          required
                        />
                        <label for="password" class="form-label"
                          >Password</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          id="location"
                        />
                        <label for="location" class="form-label"
                          >location</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <input
                          type="email"
                          class="form-control form-control-lg"
                          id="email"
                          required
                        />
                        <label for="email" class="form-label">Email</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label for="bio">Bio</label>
                      <textarea
                        class="form-control"
                        id="bio"
                        placeholder="info-1, info-2, info-3"
                      >
                      </textarea>
                    </div>
                  </div>

                  <div class="mt-4 pt-2">
                    <input
                      id="submit"
                      class="btn btn-dark btn-lg"
                      type="submit"
                      value="Submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Toastify -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- axios-->
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      async function createUser() {
        let firstName = document.getElementById("firstName");
        let lastName = document.getElementById("lastName");
        let location = document.getElementById("location");
        let bio = document.getElementById("bio");

        let username = document.getElementById("username");
        let email = document.getElementById("email");
        let password = document.getElementById("password");

        if (!username.value || !password.value || !email.value) {
          Toastify({
            text: "Username, Password and email fields cannot be empty!",
            duration: 2000,
            newWindow: true,
            close: true,
            gravity: "top",
            position: "right",
            stopOnFocus: true,
            style: {
              background: "#ff426b",
            },
          }).showToast();
          return;
        }

        const userInfo = {
          firstName: firstName.value,
          lastName: lastName.value,
          location: location.value,
          bio: bio.value.split(","),

          username: username.value,
          password: password.value,
          email: email.value,
        };
        console.log(userInfo);
        try {
          const response = await axios.post(`/admin/users/create/user`, {
            userInfo: userInfo,
            model: "user",
          });
          if (response.status == 200) {
            Toastify({
              text: "You have successfully added a single user!",
              duration: 2000,
              newWindow: true,
              close: true,
              gravity: "top",
              position: "right",
              stopOnFocus: true,
              style: {
                background: "#019b5d",
              },
            }).showToast();
            setTimeout(() => {
              Toastify({
                text: "Redirecting you!",
                duration: 2000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                style: {
                  background: "#019b5d",
                },
              }).showToast();
            }, 1000);

            setTimeout(() => {
              window.location.href = `/admin/users`;
            }, 2200);
          }
        } catch (error) {
          if (error.response) {
            const { data, status, headers } = error.response;
            Toastify({
              text: data.message,
              duration: 2000,
              newWindow: true,
              close: true,
              gravity: "top",
              position: "right",
              stopOnFocus: true,
              style: {
                background: "#ff426b",
              },
              destination: "/auth",
            }).showToast();
          }
        }
      }

      document.getElementById("submit").addEventListener("click", (event) => {
        event.preventDefault();
        createUser();
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
